<mat-toolbar class="navbar"
             fxShow.sm="false"
             fxShow.xs="false">
  <mat-toolbar-row fxLayout="row"
                   fxLayoutAlign="start center">

    <a mat-button>Home</a>
    <a mat-button>General</a>
    <a mat-button>Business</a>
    <a mat-button>Entertainment</a>
    <a mat-button>Health</a>
    <a mat-button>Science</a>
    <a mat-button>Sports</a>
    <a mat-button>Technology</a>
    <span class="flex-spacer"></span>

    <input matInput placeholder="Search" type="text" class="search-bar">

  </mat-toolbar-row>
</mat-toolbar>
