@import "../../variables";


.navbar {
  @extend %no-padding-margin;
  background-color: $color-grey-lighter !important;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px !important;
}

.navbar.mat-toolbar-multiple-rows {
  min-height: 44px !important;
  height: 44px !important;
}

.active {
  color: $color-primary-dark;
}

.search-bar {
  width: 130px;
  box-sizing: border-box;
  border: 0 solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  background-image: url(https://img.icons8.com/metro/12/000000/search.png);
  background-position: 11px 11px;
  background-repeat: no-repeat;
  padding: 8px 10px 11px 36px;
  transition: width 0.4s ease-in-out;
  outline: none;
}

.search-bar:focus {
  width: 250px;
}
