@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i');


$font-family: 'Open Sans', sans-serif;
$logo-font-family: 'ABeeZee', sans-serif;


// Color variables
$color-primary-dark: #43a047;
$color-primary: #4caf50;
$color-primary-light: #66bb6a;
$color-primary-lighter: #81c784;
$color-primary-lightest: #e8f5e9;

$color-body: #eeeeee;
$color-white: #FAFAFA;
$color-grey-light: #BDBDBD;
$color-grey-lighter: #e0e0e0;
$color-black: #424242;
$color-black-light: #616161;


// Common functions
%no-padding-margin {
  padding: 0;
  margin: 0;
}
